.activity{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    position: fixed;
    font-size: 2rem;
    top: 8rem;
    border-bottom: 2px solid #fff;
    font-family:'Courier New', Courier, monospace;
}
.activity-nav-top{
    position: absolute;
    top: 1.3em;
    right: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 1em;
}
.activity-nav-top a:first-child{
    position: fixed;
    top: 1.3em;
    left: 1.3em;
}
.activity-nav-bottom{
    position: absolute;
    bottom: 1.3em;
    left: 1.3em;
}

.container-msg {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
  
  
    display: inline-block;
  
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
  
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
  
}