.secret-view{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.secret-view p {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    word-wrap: break-word;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    
}



